/* CUSTOM CSS FOR CKCMS BASED CONTENT */
/* BE CAREFUL: YOU CAN BREAK THE WHOLE SITE IN HERE. */


/* FLASH SALE SITEWIDE NOTIFICATION CUSTOMIZATIONS*/

#siteNotice > a:focus,
#siteNotice > a:hover { text-decoration: none; }

  /*fix for accessibility work that hid promoSpot title */
  .homeMainWrapper .promoSpot h3 {
       display:block !important;
  }

/* Landing Page quick fix for Embedded Videos. Move to landing-page.css */
.landingPageWrapper .promoSpot.hasContent.embeddedVideo .itemImage {
    width: 480px;
    height: 320px !important;
    margin: auto;
  }


@media only screen and (max-width: 576px) {
    .landingPageWrapper .promoSpot.hasContent.embeddedVideo .itemImage {
    width: 320px;
    height: 240px !important;
   }

}
@media only screen and (max-width: 767px) {
   .landingPageWrapper .promoSpot.staySmall.hasContent {
     min-height: 300px !important;
   } 
}
/* Landing page quick fix staySmall.stayCentered.Move to landing-page.css */
@media only screen and (max-width: 992px) {
   .promoSpot.staySmall.stayCentered.hasContent .wrapForBorder {
    margin: auto; width: 50%;
  }
   .landingPageWrapper .promoSpot.staySmall.hasContent  {
    margin-bottom: 0px;
   }
   .landingPageWrapper .promoSpot.staySmall {
    float: left;
    width: 50%;
   }
   .landingPageWrapper .promoSpot.staySmall.hasContent {
     min-height: 510px;
   }
} 

}




/* resetting positioning for Sell Cards in main menu. When cardkingdom.com is updated, this can be removed  */
.mainMenu > div > .menuList:last-child {
    float: none !important;
    margin-right: none !important;
}

/* Landing page, keep empty page from collapsing */
body .landingPageWrapper {
    min-height: 1000px;
}

/*black friday ios fix*/
@media only screen and (max-width: 360px) {
      .mainHero .itemImage { background-size: 100% 160px; }
}

/*temp move to cardkingdom.css*/
.mainMenu .btn {  background-color: transparent; }


/* Customized icons for sets on hero */

#mainHeroMenuList > li.dominaria_united { 
    background-image:url('/media/images/mtg_expansion_symbols/trans_white/dominaria-united.png');
background-position: 30px 25px;
}

#mainHeroMenuList > li.double_masters_2022 { 
    background-image:url('/media/images/mtg_expansion_symbols/trans_white/double-masters-2022.png');
background-position: 30px 25px;
}

#mainHeroMenuList > li.commander_legends_battle_for_baldurs_gate { 
    background-image:url('/media/images/mtg_expansion_symbols/trans_white/commander-legends-battle-for-baldurs-gate.png');
background-position: 30px 25px;
}

#mainHeroMenuList > li.streets_of_new_capenna { 
    background-image:url('/media/images/mtg_expansion_symbols/trans_white/streets-of-new-capenna.png');
background-position: 30px 25px;
}

#mainHeroMenuList > li.kamigawa_neon_dynasty { 
    background-image:url('/media/images/mtg_expansion_symbols/trans_white/kamigawa-neon-dynasty.png');
background-position: 30px 25px;
}

#mainHeroMenuList > li.modern_horizons_2 { 
    background-image:url('/media/images/mtg_expansion_symbols/trans_white/modern-horizons-2.png');
background-position: 30px 25px;
}

.mainHero {  
 background: #397897 url(''); 
 height:499px; 
 position:relative;
 }

.heroButton:hover,
.heroButton:active,
.heroButton {
    border: 1px solid #1d2f47;
    left: 211px;
    top: 212px;
    width: 300px;
    text-transform: uppercase;
    box-shadow: 3px 2px 21px 2px rgba(0,0,0,0.5);
background: rgba(0,144,221,1);
background: -moz-linear-gradient(top, rgba(0,144,221,1) 0%, rgba(0,83,156,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,144,221,1)), color-stop(100%, rgba(0,83,156,1)));
background: -webkit-linear-gradient(top, rgba(0,144,221,1) 0%, rgba(0,83,156,1) 100%);
background: -o-linear-gradient(top, rgba(0,144,221,1) 0%, rgba(0,83,156,1) 100%);
background: -ms-linear-gradient(top, rgba(0,144,221,1) 0%, rgba(0,83,156,1) 100%);
background: linear-gradient(to bottom, rgba(0,144,221,1) 0%, rgba(0,83,156,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0090dd', endColorstr='#00539c', GradientType=0 );
}
.heroButton:active {    box-shadow: 1px 0px 16px 2px rgba(0,83,156,1);}
.heroInventionButton {
       height: 260px;
    width: 260px;
    position: absolute;
    top: 15px;
    left: 390px;
}
/*CUSTOM CSS FOR COMPLETE SETLIST*/
.completeSetList h4,
.completeSetList h4 a {
    font-size: 22px;
    float: none;
    clear: both;
 }
 .completeSetList h2 {margin-bottom: 0px;    margin-top: 30px;}
 .completeSetList h2 a { 
    float: right;
    padding: 5px 15px;
    font-size: 14px;
    font-weight: 400;
     margin-right: 30px;
   margin-top: 40px; /* 22px; */
 }
.completeSetList a{
    background-color: #eff8ff;
    display: inline-block;
    float: left;
    margin: 0px 8px 9px 0px;
    padding: 3px 10px;
    border: 1px solid #506b95;
    font-weight: 300;
}
.completeSetList > a:first-child {display: none;}


.completeSetList h2 .promoTitleLink:hover,
.completeSetList h2 .promoTitleLink{
      font-size: 30px;
    color: #091f47;
    float: none;
    border: none;
    background-color: transparent;
    font-weight: 700;
   margin-bottom:15px;
    margin-top:30px;
        padding-left: 0px;
}
.completeSetList a:hover{background-color:#e8effc;}



/* whats new banner - move to ckcms*/
.newFeaturePromo,
.whitespacePromoA{    height: 300px;
}
.newFeaturePromo{
text-align: center;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 0px;
    }
.newFeatureWrapper h1,
.newFeaturePromo h1 {
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
}

.newFeaturePromo p {margin-top:20px;}
.newFeaturePromo .btn {     display: inline-block; padding: 10px 30px;}

.newFeaturePromo .newFeatureBackground{
           height: 230px;
    background-size: 200px;
    background-position-y: 5px;

}
.spoilerListSlider h3 { background-color:transparent; border:none;  display:block; top:20px;}
.hotBuyListSlider h3 {top:20px;}

.whitespacePromoB {    margin-bottom:20px;}
.whitespacePromoB .text {color:#091f47;}
.productListSlider .sliderListWrapper .catalogItem > .cardLink.zoomed,
.spoilerListSlider .sliderListWrapper .catalogItem > .cardLink.zoomed {margin-top:35px;  /*margin-top:-79px*/}


.whitespacePromo1 .itemImage{
    display: block;
    height: 270px;
    left: 0px;
    top: 0px;
    margin-top: 15px;
	width: 100%;
}


.promoSpot h3 span {  text-transform: uppercase; width:100%; /*90%;*/ }
.productListSlider.spoilerListSlider {height: 431px;}
.productListSlider.spoilerListSlider .catalogItem { width: 218px; }





/* disable borders for early spoilers
.spoilerListSlider .sliderListWrapper .catalogItem > .cardLink {border-color: transparent; background-color: transparent;}
*/

/*DISABLED SPOILER SLIDER - uncomment below to hide spoiler slider
.spoilerListSlider {display:none;}
.newFeaturePromo, .whitespacePromoA {
    height: 300px;
}
 */

.whitespacePromoA {display:none;}
.mbhBanner{width:886px;} /* force fit banner so text lines up */
/*Master Series landing */
.transparentLink {
	   display: inline-block;
    background-color: transparent;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 60px;
    left: 740px;
}

. sweepstakesBanner {    margin: 15px 0px 15px 0px;}
.subLandingHero .text {font-size: 16px;font-weight: 400;}
.landingPromoBanner a{text-decoration:underline;}
.subLandingHero > p > a{text-decoration:underline;  }

.whitespacePromoB .whitespacePromo2 > a { width: 460px; }

@media only screen and (max-width: 979px) {
          .whitespacePromoB .whitespacePromo2 > a {left: 32px;}
}
@media only screen and (max-width: 767px) {
	.whitespacePromoB .whitespacePromo2 > a { width: 300px; left:32px;}
}
@media only screen and (max-width: 576px) {
        .whitespacePromoB .whitespacePromo2 > a {left: 90px;}
}
.whitespacePromoB .whitespacePromo2 > a {}

.moretext .text{ overflow:visible;}


/* custom landing page css */
.promoSpot.titleVariation1 .text { padding-top:0px !important;}
.landingPageWrapper .promoSpot.poster .itemImage {
height:510px;
}


/* Desktop Slider Updates */
.sliderContainer .wrapForBorder a.productLink {
    display: inline-block;
    height: 150px;
    vertical-align: top;
}
.sliderContainer .productItem {
    text-align: center;
}
.sliderContainer .productItem .cardSrc {
    margin: 50% auto auto auto;
    max-height: 150px;
    max-width: 150px;
    object-fit: cover;
    transform: translate(0, -50%);
}
.sliderContainer .text,
.sliderContainer .fullWidth .text {
    height: auto;
}
.sliderContainer .sliderDescription {
  height: 92px;
}

/* Disable main menu lst item >  */
.mainMenu .menuList:last-child .btn:after {
  content: "";
display: none;
}